[Unit]
Description = SarqX CLI daemon
After = network.target
Wants = network-online.target

[Service]
Type = simple
User = suro
EnvironmentFile=/etc/systemd/system/sarqx.env
ExecStart = /home/suro/Projects/sarx_umbrella/script.sh
Restart = on-abort
StartLimitInterval = 60
StartLimitBurst = 10

[Install]
WantedBy = multi-user.target
